extends layout

block content
  h1 Text to Pneumonic

  form(action='/process', method='post', id='inputForm')
    input(type='textarea', id='inputText', name='inputText')
    button(type='submit')
      | submit
  script(src='/javascripts/makeSounds.js')
