extends layout

block content
  .main-container
    h1 Text to Beat: Memory through cadence
    h2 Enter your text:

    form(onsubmit = "return false")
      input(type='textarea', id='inputText', name='inputText')
      button(type='submit', id='submitButton')
        | say it to the beat

    p Listening repeatedly to the same cadence of words causes you to process the words in the same way you process music, which gives you extra context to aid your memory– much in the way you probably learned the alphabet.
    p This app lets you enter arbitrary text, and sets it to repeat aloud at a randomly generated cadence– adding the basics of musicality to the words or numbers you wish to memorize.

    script(src='/javascripts/makeSounds.js')
