doctype html
html
  head
    title= title
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.base64.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
