body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #441100;
}

a {
  color: #00B7FF;
}

button {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button:hover {
  opacity: 0.8;
}

.main-container {
  padding: 5%;
  border-radius: 15px;
  background: #ccccff;
}

.editme {
  text-align: right;
  color: white;
}
